# Ignore macOS system files
.DS_Store

# Ignore Mathematica binary caches
*.mx

# Ignore unreleased development subpackages

# Ignor build artifacts (compiled paclets)
build/

# Ignore all scratch work in Notebooks...
Archive/*
Developer/*
Notebooks/*

# ...BUT explicitly allow these two specific examples to upload

